@using CarInsurance.Controllers
@model List<CarInsurance.Models.Insuree>

<div class="row no-gutters m-3">
    <div class="card col-sm-16 col-md-12 col-lg-8 mx-auto shadow">
        <div class="card-header text-center">
            <h2 class="m-0">Insuree View</h2>
        </div>
    </div>
    <div class="card-body">
        @foreach (var insuree in Model)
        {
            <div class="row">
                <div class="col">
                    @insuree.FirstName
                </div>
                <div class="col">
                    @insuree.LastName
                </div>
                <div class="col">
                    @insuree.EmailAddress
                </div>
                <div class="col">
                    @insuree.Quote
                </div>
            </div>
        }

    </div>
</div>

